_xmsgs
fpga-led-counter.gise
mojo_top_summary.html
_ngo/
mojo_top.bgn
mojo_top.bin
mojo_top.bit
mojo_top.bld
mojo_top.cmd_log
mojo_top.drc
mojo_top.lso
mojo_top.ncd
mojo_top.ngc
mojo_top.ngd
mojo_top.ngr
mojo_top.pad
mojo_top.par
mojo_top.pcf
mojo_top.prj
mojo_top.ptwx
mojo_top.stx
mojo_top.syr
mojo_top.twr
mojo_top.twx
mojo_top.unroutes
mojo_top.ut
mojo_top.xpi
mojo_top.xst
mojo_top_bitgen.xwbt
mojo_top_envsettings.html
mojo_top_guide.ncd
mojo_top_map.map
mojo_top_map.mrp
mojo_top_map.ncd
mojo_top_map.ngm
mojo_top_map.xrpt
mojo_top_ngdbuild.xrpt
mojo_top_pad.csv
mojo_top_pad.txt
mojo_top_par.xrpt
mojo_top_summary.xml
mojo_top_usage.xml
mojo_top_xst.xrpt
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
isim.log
isim/
mojo_top_map_fpga_editor.log
pwm_beh.prj
pwm_isim_beh.exe
pwm_isim_beh.wdb
pwm_isim_beh1.wdb
sim_top_isim_beh.exe
sim_top_isim_beh1.wdb
xilinxsim.ini
iseconfig/mojo_top.xreport
